---
import BreadcrumbArequipa from "../components/BreadcrumbArequipa.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <Navbar />
    <BreadcrumbArequipa />
    <section class="pt-12 pb-20 px-6 bg-white min-h-screen">
        <div class="max-w-4xl mx-auto">
            <div class="space-y-10 text-gray-700 text-lg">
                <!-- Día 1 -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        1er Día: LIMA / AREQUIPA / CITY TOUR.
                    </h2>
                    <ul class="space-y-3 text-gray-800 list-disc list-inside">
                        <li><strong>03:00 hrs:</strong> Reunión en el Colegio. Traslado al aeropuerto MOVIL BUS.</li>
                        <li><strong>06:00 hrs:</strong> Salida a la ciudad de Arequipa LATAM</li>
                        <li><strong>07:30 hrs:</strong> Llegada a la ciudad de Arequipa. Llegada Recepción e instalación en el Hotel. Desayuno Buffet. Descanzo para aclimatación</li>
                        <li><strong>13:00 hrs:</strong> ALMUERZO DE BIENVENIDA EN EL HOTEL.</li>
                        <li><strong>14:00 hrs:</strong> Excursión por la ciudad de Arequipa, conoceremos su Plaza de Armas, Catedral, Templo y Plazoleta de San Francisco, Templo Cúpula y claustros de la compañía de Jesús y diversas casonas coloniales</li>
                        <li><strong>20:00 hrs:</strong> Cena en el hotel. Pernocte</li>
                    </ul>
                </div>

                <!-- Día 2 -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        2do Día: CAMPIÑA Y MOLINO DE SABANDIA / CONVENTO SANTA CATALINA
                    </h2>
                    <ul class="space-y-3 text-gray-800 list-disc list-inside">
                        <li><strong>08:00 hrs:</strong> Desayuno buffet.</li>
                        <li><strong>09:00 hrs:</strong> Excursión por la campiña arequipeña. Visita al barrio de San Lázaro; Parque de la Selva alegre, Mirador de Chilina; Plaza y andenería de Paucarpata; Iglesia y mirador de Yanahuara, Molino de Sabandia, vía paisajista; Mansión de Fundador; Mirador de Sachaca,</li>
                        <li><strong>13:00 hrs:</strong> ALMUERZO REST. TURISTICO TIPIKA.</li>
                        <li><strong>14:00 hrs:</strong> Visita al convento de Santa Catalina, complejo turístico religioso ubicado en el centro histórico de Arequipa. El monasterio atesora espléndidas piezas de arte, como un altar barroco de madera tallada y dorada de un cuerpo y tres calles que exorna la capilla. Además cuenta con varias pinturas de la escuela cusqueña.</li>
                        <li><strong>20:00 hrs:</strong> Cena en el hotel. Pernocte</li>
                    </ul>
                </div>

                <!-- Día 3 -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        3er Día: CAÑÓN DEL COLCA / BAÑOS TERMALES
                    </h2>
                    <ul class="space-y-3 text-gray-800 list-disc list-inside">
                        <li><strong>07:00 hrs:</strong> Desayuno buffet</li>
                        <li><strong>08:00 hrs:</strong> Nos trasladamos al VALLE DEL COLCA (a 180 Km.), pasando por YURA, bordeando el nevado Chachani, llegaremos luego a la Reserva Nacional de Aguada Blanca (Pampa Cañahuas), donde podremos apreciar el habitat natural de las vicuñas. Arribo a la ciudad de Chivay.</li>
                        <li><strong>13:00 hrs:</strong> ALMUERZO EN EL HOTEL.</li>
                        <li><strong>14:00 hrs:</strong> Por la tarde traslado a los Baños termales de la Calera. Retorno a Chivay.</li>
                        <li><strong>20:00 hrs:</strong> Cena en el hotel. Noche de discoteca. Pernocte.</li>
                    </ul>
                </div>

                <!-- Día 4 -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        4TO DIA CAÑON DEL COLCA /AREQUIPA
                    </h2>
                    <ul class="space-y-3 text-gray-800 list-disc list-inside">
                        <li><strong>07:00 hrs:</strong> Desayuno buffet</li>
                        <li><strong>08:00 hrs:</strong> Salida hacia la parte más profunda del Cañón, “La Cruz del Cóndor” donde podemos apreciar el vuelo de majestuosas de estas aves. Al retorno veremos los miradores de Choquetico, Andenería Pre- Inca, Litomaquetas, Tumbas colgantes visitaremos también los pueblos de Pinchillo, Maca y Yanque, Retorno a Chivay</li>
                        <li><strong>13:00 hrs:</strong> ALMUERZO BUFFET EN CHIVAY.</li>
                        <li><strong>14:00 hrs:</strong> Traslado a la ciudad de Arequipa</li>
                        <li><strong>19:00 hrs:</strong> Trasaldo al aeropuerto</li>
                        <li><strong>20:00 hrs:</strong> Salida con destino a la ciudad de Lima.</li>
                        <li><strong>20:30 hrs:</strong> Llegada la ciudad de Lima Traslado al colegio en transporte exclusivo MOVIL BUS.</li>
                    </ul>
                </div>

                <!-- Programa Incluye -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">EL PROGRAMA INCLUYE</h2>
                    <ul class="list-disc list-inside space-y-3 text-gray-800">
                        <li>Ticket Aéreo Lima / Arequipa / Lima. LATAM</li>
                        <li>Traslado colegio / aeropuerto / colegio. MOVIL BUS</li>
                        <li>Atención personalizada en el aeropuerto</li>
                        <li>Traslado aeropuerto / hotel / aeropuerto</li>
                        <li>02 noches de alojamiento en el hotel Corregidor *** de Arequipa.</li>
                        <li>01 noche de hotel Casona Plaza Ecolodge Colca*** en Chivay.</li>
                        <li>Tours de acuerdo al programa</li>
                    </ul>
                    <ul>
                        <strong>ALIMENTACION COMPLETA:</strong>
                        <li>04 DESAYUNOS BUFFET</li>
                        <li>03 ALMUERZOS TIPO CARTA</li>
                        <li>01 ALMUERZO BUFFET</li>
                        <li>03 CENAS EN EL HOTEL</li>
                    </ul>
                    <li>Guía Oficial de Turismo</li>
                    <li>TOUR CONDUCTOR ACOMPAÑARÁ AL GRUPO. Beneficio para grupos de mínimo 20 personas pagantes.</li>
                    <li>Ingreso a los lugares turísticos</li>
                    <li>Permiso notarial.</li>
                    <li>POR CADA 15 PARTICIPANTES PAGANTES, 01 LIBRE.</li>
                </div>

                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">OBSEQUIO:</h2>
                    <p>
                        Filmación del viaje en formato MP4, se entregará una copia desde nuestra plataforma mediante un link. Beneficio para grupos de mínimo 20 personas pagantes.
                    </p>
                </div>

                <!-- Descripción del Hotel -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm mt-12">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        HOTEL CORREGIDOR***
                    </h2>
                    <div class="space-y-4 text-gray-800 text-base">
                        <p>
                            Este hotel se encuentra en el barrio Historical Center, a unos metros del Centro Cultural Peruano Norteamericano. La Plaza de Armas de Arequipa está a unos 19 minutos a pie del establecimiento, mientras que la estación de autobuses el Melgar, está a unos 650 metros de distancia. El Corregidor Arequipa dispone de 65 habitaciones equipadas con Wi-Fi y TV de pantalla plana con canales vía satélite, además de minibar. Las habitaciones están equipadas con un baño privado equipado con secador de pelo y jacuzzi. Las habitaciones de huéspedes en este alojamiento incluyen almohadas hipoalergénicas, almohadas blandas o duras antialérgicas y almohadas no alergénicas.
                        </p>
                    </div>
                </div>

                <div class="bg-gray-50 rounded-xl p-6 shadow-sm mt-12">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        HOTEL CASONA PLAZA ECOLODGE COLCA***
                    </h2>
                    <div class="space-y-4 text-gray-800 text-base">
                        <p>
                            Casona Plaza Ecolodge Colca es un Lodge acogedor y tranquilo ubicado en el pueblito de Yanque, enclavado en el Valle del Colca, a 3 horas de la ciudad de Arequipa. El hotel está conformado por un conjunto de Casitas hechas de Piedra y materiales de la Zona, Con áreas verdes, vista a las montañas y al cielo estrellado por las noches. Un lugar para descansar y alejarse de la Ciudad.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Botones -->
            <div class="flex flex-col sm:flex-row gap-4 mt-12 justify-center">
                <a href="/" class="text-blue-800 px-6 py-3 rounded-lg border border-blue-800 text-base font-medium hover:bg-blue-800 hover:text-white transition">
                    <i class="fas fa-arrow-left mr-2"></i> Volver
                </a>
                <a href="https://wa.link/aaitsz" class="bg-blue-800 text-white px-6 py-3 rounded-lg text-base font-medium hover:bg-blue-900 transition" target="_blank">
                    <i class="fa-brands fa-whatsapp mr-2"></i> Consultar ahora
                </a>
            </div>
        </div>
    </section>
    <Footer />
</Layout>