---
import BreadcrumbRivieraMaya from "../components/BreadcrumbRivieraMaya.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <Navbar />
    <BreadcrumbRivieraMaya />
    <section class="pt-12 pb-20 px-6 bg-white min-h-screen">
        <div class="max-w-4xl mx-auto">
            <div class="space-y-10 text-gray-700 text-lg">
                <!-- Día 1 -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        DÍA 01: LIMA / CANCUN/ RIVIERA MAYA
                    </h2>
                    <ul class="space-y-3 text-gray-800 list-disc list-inside">
                        <li><strong>03:00 hrs:</strong> Reunión en el colegio. Entrega de distintivos para maletas de la empresa. Podrán llevar como equipaje una maleta de 23 kg. bodega y una de 10 kg. equipaje de mano. (CARRY ON)</li>
                        <li><strong>03:30 hrs:</strong> Traslado al aeropuerto Jorge Chávez entransporte exclusivo MOVIL BUS Entrega de tarjetas de embarque y permisos notariales para el chequeo respectivo en el counter de LATAM GRUPOS. Entrega de maletas. Ingreso a la sala de embarque previamente asignada</li>
                        <li><strong>08:55 hrs:</strong> Salida con destino a la ciudad de Cancún VIA LATAM</li>
                        <li><strong>14:30 hrs:</strong> Llegada a la Ciudad de Cancún.</li>
                        <li><strong>15:30 hrs:</strong> Traslado en bus privado de turismo al hotel BARCELO MAYA GRAND RESORT***** Recepción en área privada para grupos, entrega de brazaletes y HABITACIONES DOBLES Ingreso a la estación de snack para almorzar hamburguesas, hot dog, ensaladas, nachos, papas fritas, pizzas, postres, bebidas, frutas en gran variedad, etc. Tiempo libre para disfrutar de las instalaciones del hotel.</li>
                        <li><strong>20:00 hrs:</strong> CENA BUFFET</li>
                        <li><strong>22:00 hrs:</strong> Noche de discoteca exclusiva para menores. Pernocte.</li>
                        <li><strong>21:00 hrs</strong> PASEO EN BUS PANORAMICO por los hoteles BARCELO MAYA GRAND RESORT Pernocte</li>
                    </ul>
                </div>

                <!-- Día 2 -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        DÍA 02: SHOW DE DELFINES / BARCELO MAYA DOLPHINARI’S
                    </h2>
                    <ul class="space-y-3 text-gray-800 list-disc list-inside">
                        <li><strong>08:00 hrs:</strong> Desayuno buffet.</li>
                        <li><strong>10:00 hrs:</strong> El hotel cuenta con DOLPHINARI’S BARCELO, tendremos la oportunidad de espectar el show de estos maravillosos mamíferos. (NO INCLUYE fotos ni actividades. tienen un costo adicional)</li>
                        <li><strong>12:00 hrs:</strong> Almuerzo buffet.</li>
                        <li><strong>13:00 hrs:</strong> Actividades recreativas.</li>
                        <li><strong>19:00 hrs:</strong> CENA A LA CARTA EN REST.ESPECIALIZADO SHOW NOCTURNO EN EL HOTEL Pernocte</li>
                    </ul>
                </div>

                <!-- Día 3 -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        DÍA 03: PARQUE DE EXPERIENCIAS XPLOR
                    </h2>
                    <ul class="space-y-3 text-gray-800 list-disc list-inside">
                        <li><strong>07:00 hrs:</strong> Desayuno buffet.</li>
                        <li><strong>08:00 hrs:</strong> Salida con destino al parque de experiencias XPLOR, un lugar mágico divertido, asombroso y enigmático. En este parque podremos ser protagonistas de una gran experiencia, conoceremos diferentes escenarios reales e imaginarios. Disfrutaremos de experiencias inolvidables nadando en ríos subterráneos, volando en la tirolesa más alta de la Riviera Maya, viviremos la experiencia de conducir vehículos a través de la jungla, estar en contacto con los ríos subterráneos más largos del mundo.
                        <ul>Entre las actividades que se desarrollan tenemos:
                            <li>
                                - CIRCUITOS DE TIROLESAS,
                            </li>
                            <li>
                                - NADO EN RÍO DE ESTALACTITAS
                            </li>
                            <li>
                                - VEHÍCULOS ANFIBIOS PARA EXPLORAR LA SELVA MAYA
                            </li>
                            <li>
                                - DOS CIRCUITOS PARA RECORRER RÍO EN BALSAS
                            </li>
                        </ul>
                        </li>
                        <li><strong>14:00 hrs:</strong> ALMUERZO BUFFET ENERGÉTICO Alimentos y bebidas naturales ilimitadas.</li>
                        <li><strong>17:00 hrs:</strong> Retorno al hotel.</li>
                        <li><strong>19:00 hrs:</strong> CENA A LA CARTA REST ESPECIALIZADO</li>
                        <li><strong>21:00 hrs:</strong> SHOW NOCTURNO EN EL HOTEL Pernocte</li>
                    </ul>
                </div>

                <!-- Día 4 -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        DÍA 04: BARCELO MAYA GRAND RESORT
                    </h2>
                    <ul class="space-y-3 text-gray-800 list-disc list-inside">
                        <li><strong>08:00 hrs:</strong> Desayuno buffet.</li>
                        <li><strong>09:00 hrs:</strong> Actividades grupales en las piscinas del hotel </li>
                        <li><strong>12:00 hrs:</strong> Almuerzo buffet.</li>
                        <li><strong>14:00 hrs:</strong> Tarde actividades grupales en la playa.</li>
                        <li><strong>19:00 hrs:</strong> Cena buffet.</li>
                        <li><strong>21:00 hrs:</strong> FIESTA DE BLANCO-DISCOTECA ONE Disfrutaremos de una noche de discoteca inolvidable exclusiva para menores. ONEPernocte</li>
                    </ul>
                </div>

                <!-- Día 5 -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        DÍA 05: BARCELO MAYA GRAND RESORT/ LATE CHECK OUT
                    </h2>
                    <ul class="space-y-3 text-gray-800 list-disc list-inside">
                        <li><strong>08:00 hrs:</strong> Desayuno buffet. Disfrutaremos de nuestro último día en el caribe mexicano con actividades grupales en la playa del hotel. FOTO GRUPAL</li>
                        <li><strong>12:00 hrs:</strong> Entrega de habitaciones.</li>
                        <li><strong>13:00 hrs:</strong> ALMUERZO BUFFET.</li>
                        <li><strong>14:00 hrs:</strong>LATE CHECK OUT. Continuaremos disfrutando del TODO INCLUIDO hasta la hora denuestro traslado al aeropuerto</li>
                        <li><strong>17:00 hrs:</strong> Ingreso a la estación de snack</li>
                        <li><strong>18:30 hrs:</strong> Traslado al aeropuerto.</li>
                        <li><strong>20:30 hrs:</strong> Llegada al aeropuerto de Cancún. Chequeo respectivo, entrega de tarjetas de embarque</li>
                        <li><strong>02:25 hrs:</strong> Salida con destino a la ciudad de Lima LA 2457</li>
                    </ul>
                </div>

                <!-- Día 6 -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        DÍA 06: LLEGADA A LA CIUDAD DE LIMA. FELIZ RETORNO
                    </h2>
                    <ul class="space-y-3 text-gray-800 list-disc list-inside">
                        <li><strong>05:35 hrs:</strong> Llegada a la ciudad de LIMA</li>
                        <li><strong>06:35 hrs:</strong> Traslado al colegio MOVIL BUS</li>
                        <li><strong>08:00 hrs:</strong> FELIZ RETORNO. Llegada al colegio.</li>
                    </ul>
                </div>

                <!-- Programa Incluye -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">EL PROGRAMA INCLUYE</h2>
                    <ul class="list-disc list-inside space-y-3 text-gray-800">
                        <li>BOLETO AÉREO LIM/CUN/LIM LATAM <br />
                        LIM/CUN LA2458 08:55-14:30 <br />
                        CUN/LIM LA2457 00:25-05:35</li>
                        <li>CHEQUEO PERSONALIZADO AEROPUERTO</li>
                        <li>TRASLADOS COLEGIO AEROPUERTO/COLEGIO MOVIL BUS</li>
                        <li>TRASLADO AEROPUERTO CANCÚN/HOTEL/ AEROPUERTO. BUS PRIVADO</li>
                        <li>TARJETA DE ASISTENCIA MÉDICA TERRAWIND, cobertura hasta USD 50,000</li>
                        <li>05 DIAS/04 NOCHES HOTEL BARCELO BAVARO</li>
                        <li>SISTEMA TODO INCLUIDO</li>
                        <li>TOUR CONDUCTOR ACOMPAÑARÁ AL GRUPO. Beneficio para grupos de mínimo 20 personas pagantes</li>
                        <li>LATE CHECK OUT HOTEL BARCELO MAYA</li>
                        <li>POR CADA 10 PAGANTES, 01 LIBERADO ( MAXIM0 05 POR RESERVA)</li>
                        <li>TOURS Y ACTIVIDADES DESCRITOS EN EL PROGRAMA: <ul>
                            <li>
                                - SHOW DE DELFINES
                            </li>
                            <li>
                                - PASEO EN BUS PANORAMICO HOTELES BARCELO MAYA GRAND RESORT
                            </li>
                            <li>
                                - PARQUE DE EXPERIENCIA X-PLOR: 09:00-17:00hrs. DIURNO
                            </li>
                        </ul>
                        </li>
                        <li>Comida buffet y bebidas ilimitadas (café, chocolate caliente, licuados naturales y aguas frescas).</li>
                        <li>Dos circuitos de 7 tirolesas</li>
                        <li>Dos circuitos de nado por el río de estalactitas.</li>
                        <li>Dos circuitos de recorrido por el río subterráneo en balsas.</li>
                        <li>circuitos en vehículos anfibios para tres personas, incluye: casco, chaleco y arnés.</li>
                        <li>Casillero. Áreas de descanso, vestidores y baños.</li>
                    </ul>
                </div>

                <!-- Obsequio -->
                 <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">OBSEQUIO PARA LA PROMOCIÓN:</h2>
                    <ul class="list-disc list-inside space-y-3 text-gray-800">
                        <li>FILMACIÓN DEL VIAJE y fotos grupales. Se entregará una copia por participante. Beneficio para grupos de mínimo 20 personas pagantes.</li>
                        <li>TOMATODO de la empresa para cada participante.</li>
                    </ul>
                </div>

                <!-- Opcional -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">OPCIONAL: ISLA MUJERES /CITY CANCUN.</h2>
                    <ul class="list-disc list-inside space-y-3 text-gray-800">
                        <li><strong>08:00 hrs:</strong> DESAYUNO BUFFET</li>
                        <li><strong>09:00 hrs:</strong> Visitaremos la Isla Mujeres ubicada a 14 kilómetros de Cancún se encuentra en un pueblo mágico convertido en un foco turístico, el nombre de este lugar se debe a la diosa maya de la luna, el amor y la fertilidad. Nos trasladaremos en CATAMARAN a esta maravillosa isla situada en el mar Caribe para disfrutar de su encanto que cuentan con una de las playas más hermosas.</li>
                        <li><strong>14:00 hrs:</strong> ALMUERZO ISLA MUJERES Retorno al hotel para lo cual haremos un breve recorrido por la zona hotelera, haremos una parada en el mirador de Cancún, ubicado en la playa llamada delfines que se ha convertido en el lugar preferido para la foto del recuerdo. <br /> COSTO POR PERSONA: USD 70</li>
                    </ul>
                </div>

                <!-- Condiciones Generales -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">CONDICIONES GENERALES</h2>
                    <ul class="list-disc list-inside space-y-3 text-gray-800">
                        <li>RESERVA CONFIRMADA CON LATAM para viajar en mayo.</li>
                        <li>Contamos con un sistema de tarjetas de crédito: VISA, MASTERCARD. 5% de comisión</li>
                        <li>Inscripción USD $200.00 (PRE-PAGO). Saldo en armadas hasta la fecha de viaje.</li>
                        <li>El PRE PAGO es no reembolsable, no transferible, no endosable</li>
                        <li>TARIFAS AÉREAS GRUPALES CON LATAM, incluye 01 maleta de 23kg para bodega y 01 maleta de 10kilos como equipaje de mano por persona.</li>
                        <li>El pago de la inscripción confirma la participación del menor. Para lo cual cada padre de familia firmará un compromiso de pago consignando los datos de contacto para que la empresa haga el cobro de forma directa.</li>
                        <li>Se enviará una carta a cada padre informando la cuenta de la empresa, detallando el procedimiento para el pago y ejecutivo a cargo de la cuenta.</li>
                        <li>Los liberados para el grupo se consideran tomando en cuenta la fecha de inscripción. Después de esa fecha se considera como adicionales los ingresos nuevos.</li>
                        <li>Los pagos se enviarán, al WhatsApp de la empresa 996667974 para ser validados y generar las boletas electrónicas respectivas</li>
                    </ul>
                </div>

                <!-- Descripción del Hotel -->
                <div class="bg-gray-50 rounded-xl p-6 shadow-sm mt-12">
                    <h2 class="text-2xl font-bold text-blue-800 border-b border-red-400 pb-2 mb-4">
                        HOTEL BARCELÓ MAYA GRAND RESORT
                    </h2>
                    <div class="space-y-4 text-gray-800 text-base">
                        <p>
                            Se encuentra situado en una de las playas más bellas del Caribe Mexicano que se extiende a lo largo de 2 km en plena Riviera Maya. 
                        </p>
                        <p>
                            El programa Todo Incluido ofrece aperitivos y bebidas disponibles las 24 horas del día, así como acceso a 3 restaurantes: el buffet Beach, inspirado en la cultura maya; el espectacular “México Lindo” con especialidades de la cocina mexicana y el “Rancho Grande” restaurante grill. El programa también permite disfrutar de las instalaciones deportivas y 2 albercas (piscinas), una para adultos y otra para niños. La vibrante vida nocturna del hotel ofrece espectáculos en vivo en el teatro y la discoteca.
                        </p>
                        <p>
                            Barceló Maya Grand Resort, ¡hospédese en uno y disfrute 4 hoteles! Aquellos que se hospeden en el Barceló Maya Grand resort podrán disfrutar de acceso a servicios e instalaciones compuesto por los hoteles Barceló Maya Beach, Barceló Maya Caribe, Barceló Maya Colonial y Barceló Maya Tropical.
                        </p>

                        <h3 class="text-xl font-semibold text-blue-700 mt-6">SISTEMA ALL INCLUSIVE</h3>
                        <ul>
                            <li>
                                HABITACIONES DOBLES
                            </li>
                            <li>
                                Desayuno, almuerzo y cena (servicio buffet y a la carta)
                            </li>
                            <li>
                                Bebidas ilimitadas sin alcohol para menores de edad
                            </li>
                            <li>
                                Minibar en la habitación con refrescos, gaseosa y agua.
                            </li>
                            <li>
                                Cafetera con surtido diario de café
                            </li>
                        </ul>

                        <h3 class="text-xl font-semibold text-blue-700 mt-6">Deportes y entretenimiento</h3>
                        <p>
                            Tenis, Padel, Voleibol playa, futbol playa, Tenis de mesa, waterpolo, Juegos de mesa, aerobicos, aquerobicos
                        </p>
                        <p>
                            Programa de actividades diarias. Deportes acuáticos no motorizados KAYAC, CANOTAJE
                        </p>
                        <p>
                            Shows nocturnos todos los días.
                            <br />· Caja de seguridad en habitación
                        </p>
                        <p>
                            DISCOTECA ONE, exclusiva para grupos menores de edad. (no se permite el ingreso de adultos)
                        </p>

                        <h3 class="text-xl font-semibold text-blue-700 mt-6">RESTAURANTES:</h3>

                        <ul class="list-disc list-inside space-y-1">
                            <li>Restaurante Santa Elena: Especializado en carnes.</li>
                            <li>Restaurante México Lindo: Especializado en mexicana</li>
                            <li>Restaurante Kyoto: Especializado en comida asiática</li>
                            <li>Restaurante Marenostrum: Especializado en mariscos</li>
                            <li>Restaurante Tratoria: Especializado en pizzas y pastas</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Botones -->
            <div class="flex flex-col sm:flex-row gap-4 mt-12 justify-center">
                <a href="/" class="text-blue-800 px-6 py-3 rounded-lg border border-blue-800 text-base font-medium hover:bg-blue-800 hover:text-white transition">
                    <i class="fas fa-arrow-left mr-2"></i> Volver
                </a>
                <a href="https://wa.link/aaitsz" class="bg-blue-800 text-white px-6 py-3 rounded-lg text-base font-medium hover:bg-blue-900 transition" target="_blank">
                    <i class="fa-brands fa-whatsapp mr-2"></i> Consultar ahora
                </a>
            </div>
        </div>
    </section>
    <Footer />
</Layout>