<footer class="bg-blue-800 text-white py-12">
    <div class="max-w-7xl mx-auto px-6 lg:px-24 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <div>
            <h2 class="text-xl font-bold">
                Contáctanos
            </h2>
            <div class="mt-4 space-y-4 text-gray-200">
                <p class="flex items-center gap-2">
                    <i class="fa-solid fa-location-dot text-yellow-400"></i>
                    Av. Larco N° 345 Of. S-1 Parque Kennedy - Miraflores, Lima.
                </p>
                <div class="flex items-center gap-4 flex-wrap">
                    <a href="tel:+5112410920" class="flex items-center gap-2 hover:text-yellow-400">
                        <i class="fa-solid fa-phone text-yellow-400"></i>
                        (01) 241 0920
                    </a>
                    <a href="tel:+51996667974" class="hover:text-yellow-400">
                        <i class="fa-solid fa-mobile-retro text-yellow-400"></i> 
                        996 667 974
                    </a>
                    <a href="tel:+51983758325" class="hover:text-yellow-400">
                        <i class="fa-solid fa-mobile-retro text-yellow-400"></i> 
                        983 758 325
                    </a>
                    <a href="tel:+51983270594" class="hover:text-yellow-400">
                        <i class="fa-solid fa-mobile-retro text-yellow-400"></i> 
                        993 270 594
                    </a>
                </div>
                <a href="mailto:ventas@expeditionsgroupsac.com" class="flex items-center gap-2 hover:text-yellow-400">
                    <i class="fa-solid fa-envelope text-yellow-400"></i>
                    ventas@expeditionsgroupsac.com
                </a>
            </div>
            <div class="flex gap-4 mt-4">
                <a href="https://www.facebook.com/ExpeditionsGroupSac/" target="_blank" aria-label="Facebook" class="hover:text-yellow-400">
                    <i class="fa-brands fa-facebook fa-xl"></i>
                </a>
                <a href="https://www.instagram.com/expeditionsgroup/" target="_blank" aria-label="Instagram" class="hover:text-yellow-400">
                    <i class="fa-brands fa-instagram fa-xl"></i>
                </a>
                <a href="https://wa.link/aaitsz" target="_blank" aria-label="YouTube" class="hover:text-yellow-400">
                    <i class="fa-brands fa-whatsapp fa-xl"></i>
                </a>
                <a href="https://www.youtube.com/" target="_blank" aria-label="YouTube" class="hover:text-yellow-400">
                    <i class="fa-brands fa-youtube fa-xl"></i>
                </a>
                <a href="https://www.tiktok.com/@expeditionsgroup" target="_blank" aria-label="TikTok" class="hover:text-yellow-400">
                    <i class="fa-brands fa-tiktok fa-xl"></i>
                </a>
            </div>
        </div>
        
        <div>
            <h3 class="text-xl font-bold">
                Atractivos turísticos
            </h3>
            <div class="grid grid-cols-3 gap-2 mt-4">
                <img src="/../paracas.avif" alt="Paracas" class="w-full h-auto rounded-md" loading="lazy">
                <img src="/../cusco.avif" alt="Cusco" class="w-full h-auto rounded-md" loading="lazy">
                <img src="/../cartagena-de-indias.avif" alt="Cartagena de Indias" class="w-full h-auto rounded-md" loading="lazy">
                <img src="/../punta-cana.avif" alt="Punta Cana" class="w-full h-auto rounded-md" loading="lazy">
                <img src="/../royal-decameron.avif" alt="Royal Decameron" class="w-full h-auto rounded-md" loading="lazy">
                <img src="/../rustica-vichayito.avif" alt="Rústica Vichayito" class="w-full h-auto rounded-md" loading="lazy">
                <img src="/../tarapoto.avif" alt="Tarapoto" class="w-full h-auto rounded-md" loading="lazy">
                <img src="/../cajamarca.avif" alt="Cajamarca" class="w-full h-auto rounded-md" loading="lazy">
            </div>
        </div>
        
        <div>
            <h3 class="text-xl font-bold">
                Links relacionados
            </h3>
            <ul class="mt-4 space-y-2 text-gray-300">
                <li>
                    <a href="https://www.gob.pe/mincetur" class="hover:text-yellow-400" target="_blank">
                        Mincetur
                    </a>
                </li>
                <li>
                    <a href="https://www.ytuqueplanes.com/" class="hover:text-yellow-400" target="_blank">
                        ¿Y tú qué planes?
                    </a>
                </li>
                <li>
                    <a href="https://www.gob.pe/regioncusco" class="hover:text-yellow-400" target="_blank">
                        GORE Cusco
                    </a>
                </li>
                <li>
                    <a href="https://www.tripadvisor.com/" class="hover:text-yellow-400" target="_blank">
                        Tripadvisor
                    </a>
                </li>
                <li>
                    <a href="https://peru.info/es-pe/" class="hover:text-yellow-400" target="_blank">
                        Marca Perú
                    </a>
                </li>
            </ul>
        </div>
        
        <div>
            <h3 class="text-xl font-bold">
                Te Puede Interesar <i class="fa-solid fa-heart"></i>
            </h3>
            <ul class="mt-4 space-y-2 text-gray-300">
                <li>
                    <a href="./punta-cana" class="hover:text-yellow-400">
                        Punta Cana
                    </a>
                </li>
                <li>
                    <a href="./cartagena-de-indias" class="hover:text-yellow-400">
                        Cartagena de Indias
                    </a>
                </li>
                <li>
                    <a href="./riviera-maya" class="hover:text-yellow-400">
                        Riviera Maya
                    </a>
                </li>
                <li>
                    <a href="./royal-decameron" class="hover:text-yellow-400">
                        Royal Decameron
                    </a>
                </li>
                <li>
                    <a href="./san-andres" class="hover:text-yellow-400">
                        San Andrés
                    </a>
                </li>
                <li>
                    <a href="./cusco-magico" class="hover:text-yellow-400">
                        Cusco Mágico
                    </a>
                </li>
                <li>
                    <a href="./playas-del-norte" class="hover:text-yellow-400">
                        Playas del Norte
                    </a>
                </li>
                <li>
                    <a href="./arequipa" class="hover:text-yellow-400">
                        Arequipa
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="border-t border-gray-700 mt-8"></div>

    <div class="text-center py-4 text-gray-400 text-sm">
        &copy; 2025 Expeditions Group - Todos los derechos reservados | RUC: 20543272851.
        <p>
            Diseñado por <a href="https://www.facebook.com/rubenestebantipiania" class="hover:text-yellow-400" target="_blank"> Rubén Tipiani</a>
        </p>
    </div>
</footer>